h1{
    font:bold 40px bold sans-serif;
    color: rgb(66, 66, 221);
}

body{
    text-align: center;
    background-image: url(https://i2.wp.com/background4free.com/download/blue_sky_daytime_691472336.jpg?q=100);
}

#stranica{
    border:1px solid  rgb(66, 66, 221);
    margin:20px auto;
}
#naslov { 
    color: rgb(66, 66, 221);
    border: 2px solid rgb(66, 66, 221);
    padding: 20px;
}
#meni{
    background:rgb(96, 96, 192);
    color: white;
}
#meni li{
    display: inline-block;/*horizontalno meni okrenuli*/
    list-style: none;
    padding: 20px;
    font:  bold  15px sans-serif;
    color: white;
} 
#lista1 {
    float: left;
}

#lista2{
    float: right;
   
}
#footer{
    clear: both;
    text-align: center;
    border:2px dashed blue;
    font: 17px bold italic;
    background-color: turquoise;
}

table{
    width: 720px;
    height: 200px;
    margin-left: 20px;
    margin-right: 20px;
    font-family: sans-serif;
    font-size: 13px;
    padding: none;
    margin-bottom: 10px;
}
table,td,tr{
    text-align: center;
}

table,th,td{
    border: 1px dashed black ;
}

tr:nth-child(odd){
    background: white;
}
#naslov_tabele,th{
    background-color: royalblue;
}
#tabela1{
    float: left;
}
#predavanje{
    background-color: rgb(247, 208, 137);
    color: rgb(131, 86, 2);
}

#vjezbe{
    background-color: rgb(107, 212, 107);
    color: rgb(10, 85, 10);
}

#tutu{
    background-color: rgb(53, 53, 247);
    color: rgb(9, 9, 87);
}
#mix{
    background-color: grey;
    color:black;
}