h1{
    font:bold 40px bold sans-serif;
    color: rgb(66, 66, 221);
}

body{
    text-align: center;
    background-image: url(https://i2.wp.com/background4free.com/download/blue_sky_daytime_691472336.jpg?q=100);
}

#stranica{
    border:1px solid  rgb(66, 66, 221);
    margin:20px auto;
}
#naslov { 
    color: rgb(66, 66, 221);
    border: 2px solid rgb(66, 66, 221);
    padding: 20px;
}
#meni{
    background:rgb(96, 96, 192);
    color: white;
}
#meni li{
    display: inline-block;/*horizontalno meni okrenuli*/
    list-style: none;
    padding: 20px;
    font:  bold  15px sans-serif;
} 
    
#footer{
    clear: both;
    text-align: center;
    border:2px dashed blue;
    font: 17px bold italic;
    background-color: turquoise;
}
