h1{
    font:bold 40px bold sans-serif;
    color: rgb(66, 66, 221);
}

body{
    text-align: center;
    background-image: url(https://i2.wp.com/background4free.com/download/blue_sky_daytime_691472336.jpg?q=100);
}

#stranica{
    border:1px solid  rgb(66, 66, 221);
    margin:20px auto;
}
#naslov { 
    color: rgb(66, 66, 221);
    border: 2px solid rgb(66, 66, 221);
    padding: 20px;
}
#meni{
    background:rgb(96, 96, 192);
    color: white;
}
#meni li{
    display: inline-block;/*horizontalno meni okrenuli*/
    list-style: none;
    padding: 20px;
    font:  bold  15px sans-serif;
} 

#footer{
    clear: both;
    text-align: center;
    border:2px dashed blue;
    font: 15px bold italic;
    background-color: turquoise;
}
.lab{
    height: 350px;
    width: 600px;
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 250px 50px 50px ;
    border: blue solid 1px;
    margin-left: 460px;
    margin-bottom: 30px;
    background-color: rgb(11, 125, 153);
    vertical-align: 10px;
}
.lab2{
    height: 350px;
    width: 600px;
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 250px 50px 50px ;
    border: blue solid 1px;
    margin-left: 460px;
    margin-bottom: 30px;
    background-color: rgb(11, 125, 153);
    vertical-align: 10px;
}
.lab3{
    height: 350px;
    width: 600px;
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 250px 50px 50px ;
    border: blue solid 1px;
    margin-left: 460px;
    margin-bottom: 30px;
    background-color: rgb(11, 125, 153);
    vertical-align: 10px;
}
#slika1{
    grid-column: 1/2;
    grid-row: 1/2;
}

#oprema{
    grid-column: 2/3;
    grid-row: 1/2;
    border: white solid 1px;
}
#slika2{
    grid-column: 3/4;
    grid-row: 1/2;
}
#lista1{
    grid-column: 1/2;
    grid-row: 2/3;
    background-color:rgb(11, 125, 153);
    border: white solid 1px;
    text-align: center;
}
#lista2{
    grid-column: 1/2;
    grid-row: 3/4;
    background-color: rgb(11, 125, 153);
    border: white solid 1px;
    text-align: center;
}
#tekst{
    grid-column: 2/4;
    grid-row: 2/4;
    background-color: rgb(11, 125, 153);
    border: white solid 1px;
    text-align: center;
}