h1{
    font:bold 40px bold sans-serif;
    color: rgb(66, 66, 221);
}

body{
    text-align: center;
    background-image: url(https://i2.wp.com/background4free.com/download/blue_sky_daytime_691472336.jpg?q=100);
}

#stranica{
    border:1px solid  rgb(66, 66, 221);
    margin:20px auto;
}
#naslov { 
    color: rgb(66, 66, 221);
    border: 2px solid rgb(66, 66, 221);
    padding: 20px;
}
#meni{
    background:rgb(96, 96, 192);
    color: white;
}
#meni li{
    display: inline-block;/*horizontalno meni okrenuli*/
    list-style: none;
    padding: 20px;
    font:  bold  15px sans-serif;
} 

#footer{
    clear: both;
    text-align: center;
    border:2px dashed blue;
    font: 15px bold italic;
    background-color: turquoise;
}
#naslov2{
    border: blue solid 2px;
    color: black;
    background-color: white;
    text-align: left;
    margin-left: 20px;
}
.osoblje{
    height: 400px;
    width: 300px;
    margin: 5px;
    display: grid;
    border: blue solid 1px;
    grid-template-rows: 25px 1fr 25px 50px 50px 50px ;
    grid-template-columns: 50px 1fr 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    float: left;
    background-color:rgb(11, 125, 153);
    margin-left: 430px;
    padding: 20px;
}

.osoblje2{
    height: 400px;
    width: 300px;
    margin: 5px;
    display: grid;
    border: blue solid 1px;
    grid-template-rows: 25px 1fr 25px 50px 50px 50px 50px;
    grid-template-columns: 50px 1fr 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    background-color:rgb(11, 125, 153);
    padding: 20px;
}

.asis1{
    height: 400px;
    width: 300px;
    margin: 5px;
    display: grid;
    border: blue solid 1px;
    grid-template-rows: 25px 1fr 25px 50px 50px 50px 50px;
    grid-template-columns: 50px 1fr 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    float: left;
    background-color:rgb(11, 125, 153);
    padding: 20px;
    margin-left: 250px;
    margin-bottom: 20px;
}


.asis2{
    height: 400px;
    width: 300px;
    margin: 5px;
    display: grid;
    border: blue solid 1px;
    grid-template-rows: 25px 1fr 25px 50px 50px 50px 50px;
    grid-template-columns: 50px 1fr 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    float: left;
    background-color:rgb(11, 125, 153);
    padding: 20px;
    margin-bottom: 20px;
}
.asis3{
    height: 400px;
    width: 300px;
    margin: 5px;
    display: grid;
    border: blue solid 1px;
    grid-template-rows: 25px 1fr 25px 50px 50px 50px 50px;
    grid-template-columns: 50px 1fr 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    background-color:rgb(11, 125, 153);
    padding: 20px;
    margin-bottom: 20px;
}
#logo{
   grid-column: 2/3;
   grid-row: 2/3;
   border: blue solid 1px;
}
#ime{
    grid-column: 1/4;
    grid-row: 3/4;
    background-color: white;
    border: blue solid 1px;
}
#titula{
    grid-column: 1/4;
    grid-row: 4/5;
    background-color: white;
    border: blue solid 1px;
}
#broj{
    grid-column: 1/4;
    grid-row: 5/5;
    background-color: white;
    border: blue solid 1px;
}
#link{
    grid-column: 1/4;
    grid-row: 6/6;
    background-color: white;
    border: blue solid 1px;
}