h1{
    font:bold 40px bold sans-serif;
    color: rgb(66, 66, 221);
}

body{
    text-align: center;
    background-image: url(https://i2.wp.com/background4free.com/download/blue_sky_daytime_691472336.jpg?q=100);
}

#stranica{
    border:1px solid  rgb(66, 66, 221);
    margin:20px auto;
}
#naslov { 
    color: rgb(66, 66, 221);
    border: 2px solid rgb(66, 66, 221);
    padding: 20px;
}
#meni{
    background:rgb(96, 96, 192);
    color: white;
}
#meni li{
    display: inline-block;/*horizontalno meni okrenuli*/
    list-style: none;
    padding: 20px;
    font:  bold  15px sans-serif;
} 

#footer{
    clear: both;
    text-align: center;
    border:2px dashed blue;
    font: 15px bold italic;
    background-color: turquoise;
}

#d1,#d2,#d3,#d4{
    color: blue;
    font:40px;
}
.predmet1{
    height: 400px;
    width: 600px;
    display: grid;
    grid-template-rows: 100px 30px 30px 30px 30px 40px 40px 1fr;
    grid-template-columns: 1fr;
    border: blue solid 1px;
    margin-left: 460px;
    margin-bottom: 50px;
    background-color: rgb(11, 125, 153);

}

.predmet2{
    height: 400px;
    width: 600px;
    display: grid;
    grid-template-rows: 100px 30px 30px 30px 30px 40px 40px 1fr;
    grid-template-columns: 1fr;
    border: blue solid 1px;
    margin-left: 460px;
    margin-bottom: 50px;
    background-color: rgb(11, 125, 153);

}
.predmet3{
    height: 400px;
    width: 600px;
    display: grid;
    grid-template-rows: 100px 30px 30px 30px 30px 40px 40px 1fr;
    grid-template-columns: 1fr;
    border: blue solid 1px;
    margin-left: 460px;
    margin-bottom: 50px;
    background-color: rgb(11, 125, 153);

}
.predmet4{
    height: 400px;
    width: 600px;
    display: grid;
    grid-template-rows: 100px 30px 30px 30px 30px 40px 40px 1fr;
    grid-template-columns: 1fr;
    border: blue solid 1px;
    margin-left: 460px;
    margin-bottom: 50px;
    background-color: rgb(11, 125, 153);

}
.predmet5{
    height: 400px;
    width: 600px;
    display: grid;
    grid-template-rows: 100px 30px 30px 30px 30px 40px 40px 1fr;
    grid-template-columns: 1fr;
    border: blue solid 1px;
    margin-left: 460px;
    margin-bottom: 50px;
    background-color: rgb(11, 125, 153);

}
.predmet6{
    height: 400px;
    width: 600px;
    display: grid;
    grid-template-rows: 100px 30px 30px 30px 30px 40px 40px 1fr;
    grid-template-columns: 1fr;
    border: blue solid 1px;
    margin-left: 460px;
    margin-bottom: 50px;
    background-color: rgb(11, 125, 153);

}
#naslov{
    grid-row: 1/2;
    background-color: white;
}
#lista_tema{
    grid-row: 2/3;
    background-color: white;
    color: black;
    border: blue solid 1px;
}
#Broj_casova{
    grid-row: 3/4;
    background-color: white;
    color: black;
    border: blue solid 1px;
}
#Broj_vjezbi{
    grid-row: 4/5;
    background-color: white;
    color: black;
    border: blue solid 1px;
}
#Broj_tuturijala{
    grid-row: 5/6;
    background-color: white;
    color: black;
    border: blue solid 1px;
}
#Lista_p{
    grid-row: 6/7;
    background-color: white;
    color: black;
    border: blue solid 1px;
}
#Lista_a{
    grid-row: 7/8;
    background-color: white;
    color: black;
    border: blue solid 1px;
}
#opis{
    grid-row: 8;
    background-color: white;
    color: black;
    border: blue solid 1px;
}
